<% provide :title, 'Home' %>
<div class="container">
	<div class="row">
	    <div class="col-lg-8 otm-updates">
	        <h1>News & Updates</h1>
					<% @posts.each do |post| %>
	        	<div class="otm-border-left">
      	        <h2><%= post.title %></h2>
      	        <small class="text-muted"><%= post.user.fullname %> - <%= post.created_at.to_s(:us_short_date) %></small><br>
      	        <%= post.body[0..300] + (post.body.length > 300 ? "..." : "") %> <%=  link_to 'Read More', post %>
	        	</div>
					<% end %>
	        <%= will_paginate @posts %>
	    </div>
	    <div class="col-lg-4 otm-events">
	        <h1>Events</h1>
	        <div class="otm-border-left">
	            <h3>Reunion</h3>
	            <p class="text-muted">1/11/15 @ 7PM</p>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, error.</p>
	        </div>
	        <div class="otm-border-left">
	            <h3>New Stake</h3>
	            <p class="text-muted">2/12/15 @ 7PM</p>
	            <p>Cumque a similique temporibus assumenda veniam fugiat obcaecati consequuntur eveniet.</p>
	        </div>
	    </div>
	</div>
</div>